* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
}

html,
body {
  width: 100%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
}
main {
  margin: 10px;
  border: 10px solid red;
  border-radius: 5px;
  outline: 10px solid red;
  outline-offset: 30px;
  box-shadow: 5px 5px 15px white, -5px 5px 15px white, 5px -5px 15px white,
    -5px -5px 15px white;
}

h1 {
  color: #fff;
  font-size: 144px;
  font-weight: 300;
  padding: 25px;
}
